body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.top{
    background-color: #1F2937;
    padding: 0px 150px;
    border: 2px solid red;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white;
}

h1,
h3 {
    font-family: meddon, helvetica, sans-serif;
    color: #5f9ea0;
    line-height: 1.2;    
}

h1 {
    margin-top: 0px;
    font-weight: 900;
}

.header ul {
    font-size: 18px;
    font-family: Karma, Helvetica, sans-serif;
    color: #E5E7EB;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 24px;
}

li a {
    text-decoration: none;
    color: #E5E7EB;
}

.introduction {
    display: flex;
    border: 2px solid purple;
    align-items: center;
    padding: 42px 0px;
    gap: 16px;
}


#quilt-intro{
    max-height: 200px;
    width: auto;
}

.introduction p {
    font-family: Karma, helvetica, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

.introduction button {
    background-color: #3882F6;
    font-family: Karma, helvetica, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px 32px;
    border-radius: 4px;
    border: none;
}

.information {
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
}

.information img {
    width: 150px;
    height: auto;
    border-radius: 4px;
}

.container {
    display: flex;
    border: 2px solid green;
}